
<div *ngIf="usuario">
    <h2>Perfil de Usuario</h2>

    <div>
        <p><strong>Nombre de Usuario:</strong> {{ usuario.display_name }}</p>
        <p><strong>País:</strong> {{ usuario.country }}</p>
        <p><strong>Tipo de Cuenta:</strong> {{ usuario.product }}</p>
        <p><strong>Correo Electrónico:</strong> {{ usuario.email }}</p>
    </div>

    <div *ngIf="usuario.images.length > 0">
        <img [src]="usuario.images[0].url" alt="Imagen de perfil">
    </div>

    <div *ngIf="usuario.followers.total > 0">
        <p><strong>Seguidores:</strong> {{ usuario.followers.total }}</p>
    </div>

    <div *ngIf="usuario.external_urls.spotify">
        <p><strong>Enlace de Spotify:</strong> <a [href]="usuario.external_urls.spotify" target="_blank">{{
                usuario.external_urls.spotify }}</a></p>
    </div>

    <div *ngIf="usuario.explicit_content.filter_enabled">
        <p><strong>Filtrar Contenido Explícito:</strong> Activado</p>
    </div>
</div>